<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>编写</title>
    <link rel="stylesheet" href="/public/lib/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="header container">
        <div class="page-header">
            <h1><a href="/">首页</a> <small>发表评论</small></h1>
        </div>
        <div class="comments container">
            <form action="/post" method="post">
                <div class="form-group">
                    <label for="input_name">您的大名</label>
                    <input type="text" class="form-control" name="name" id="input_name" required minlength="2"
                        maxlength="10" placeholder="请输入你的名字">
                </div>
                <div class="form-group">
                    <label for="text_message">留言内容</label>
                    <textarea  id="text_message" name='message' cols="30" rows="10" class="form-control"
                        minlength="5" maxlength="20"></textarea>
                </div>
                <button type="submit" class="btn btn-default">发表</button>
            </form>
        </div>

        </script>
    </div>
</body>

</html>