<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
   <h1>404040400404040</h1>
</body>

</html>

<!-- session
  领过苹果的不能再领了
  老师发苹果
  HTTP 是无状态的（记不住你长啥样，不知道你叫啥名字）

  你自己记住你自己

  Cookie 小纸条，往背后一贴

  Cookie 可以用来保存一些不太敏感的数据。
  但是不能用来保存用户登陆状态。
  isVIP: true

  记住用户名、购物车

  Session

  超市 -》 电子柜（）服务端
  你（客户端）（二维码小票（开箱凭证）Cookie）（凭证是唯一的，不可能重复）
  一旦丢失，不可找回，如果小票丢失，你的状态也就丢失了。

  钥匙是服务器给你的，所以这就很安全了，不太容易伪造出来。
  这个时候我们就可以包一些敏感的数据保存到服务端。
  客户端只需要拿着这把钥匙就可以了。
 -->